<div *ngIf="listing">
    <div class="title-container">
        <div>
            <h2>
                {{listing?.title}}
            </h2>
            <p>
                By {{listing?.owner}}
            </p>
        </div>
        <p>
            {{listing.price}} EUR
        </p>
    </div>
    <div class="image-slider horizontal-scroll">
        <div class="slider-image">
            <img src="{{listing.thumbnail}}" alt="{{listing.title}}'s thumbnail">
        </div>
        <div class="slider-image" *ngFor="let image of listing?.images_ready"> 
            <img src="{{image.image}}" alt="{{image.image}}">
        </div>
    </div>
    <div class="detail-container">
        <h3>Description:</h3>
        <p >
          {{listing?.description}}
        </p>
        <h3>Technical details:</h3>
        <h4>Surface area:</h4>
        <p>
            {{listing.surface}} m^2
        </p>
        <h4>Number of rooms:</h4>
        <p>{{listing.rooms}}</p>
    </div>  
</div>
<div *ngIf="!listing">
    Listing doesn't exist
</div>   