<div class="container profiles-container">
    <div *ngFor="let profile of this.profiles">
            <h2>
                <a *ngIf="!(profile.user==currentUser)" class="my-b" routerLink="{{profile.id}}">{{profile?.user}}</a>
                <a *ngIf="profile.user==currentUser" class="my-b" routerLink="//my-profile">{{profile?.user}}</a>
            </h2>
            <!-- <img class="profile-image" src="{{profile?.image}}" alt="image"> -->
    </div>
</div>
