// $color-primary-100: #D1C4E9;
// $color-primary-200: #B39DDB;
// $color-primary-300: #9575CD;
// $color-primary-400: #9575CD;
// $color-primary-500: #7E57C2;
// $color-primary-600: #5E35B1;
// $color-primary-700: #512DA8;
// $color-primary-800: #4527A0;
// $color-primary-900: #311B92;

// $color-accent-100: #EDF066;
// $color-accent-200:#E9ED00;
// $color-accent-400:#9EA100;
// $color-accent-700:#6E7000;

$color-on-accent-dark: #000;
$color-on-primary-dark: #000;
$color-on-accent-ligth: #fff;
$color-on-primary-ligth: #fff;

$color-primary-100: hsl(0 0 100);
$color-primary-200: hsl(0 0 90);
$color-primary-300: hsl(0 0 80);
$color-primary-400: hsl(0 0 70);
$color-primary-500: hsl(0 0 60);
$color-primary-600: hsl(0 0 50);
$color-primary-700: hsl(0 0 40);
$color-primary-800: hsl(0 0 30);
$color-primary-900: hsl(0 0 20);

$color-accent-100: #000;
$color-accent-200:#000;
$color-accent-400:#000;
$color-accent-700:#000;