@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$font-family-primary: 'Roboto', sans-serif;

$font-size-xl: 5rem;
$font-size-900: 3.5rem;
$font-size-800: 3.125rem;
$font-size-700: 2.625rem;
$font-size-600: 2.125rem;
$font-size-500: 1.625rem;
$font-size-400: 1.125rem;
$font-size-300: 0.875rem;
$font-size-200: 0.625rem;
$font-size-100: .5rem;