<header>
    <input type="checkbox" name="nav-toggle" id="nav-toggle" class="nav-toggle">
    <nav>
        <ul>
            <!-- <li><a routerLink='home'>Home</a></li> -->
            <li><a routerLink='listings'>Listings</a></li>
            <li><a routerLink='profiles'>Profiles</a></li>
            <li *ngIf="isAuthenticated"><a routerLink='my-profile'>MyProfile</a></li>
            <li *ngIf="isAuthenticated"><a routerLink='create'>Create listing</a></li>
            <li *ngIf="!isAuthenticated"><a routerLink="login">Log in</a></li>
            <li *ngIf="!isAuthenticated"><a routerLink="register">Register</a></li>
            <li *ngIf="isAuthenticated"><button (click)="logout()"><span>log out</span></button></li>
        </ul>
    </nav>
    <h1>BestImob</h1>    
    <label for="nav-toggle" class="nav-toggle-label">
        <fa-icon [icon]="faAnglesRight" size="lg"></fa-icon>
    </label>    
</header>