<div class="wrapper-grid">
<form class="listing-form--create" [formGroup]="listingForm" (ngSubmit)="submit()">
    <div class="input" *ngIf="doesListingExist">
        This title already exists! Please change title!
    </div>
    <div class="input">
        <label for="title">Title: </label>
        <input type="text" id="title" formControlName="title" placeholder="title">
        
    </div>
    <div class="input">
        <label for="price">Price (Eur): </label>
        <input type="number" id="price" formControlName="price" placeholder="price">
    </div>
    <div class="input">
        <label for="description">Description: </label>
        <textarea type="text" id="description" formControlName="description" placeholder="description">
        </textarea>
    </div>
    <div class="input">
        <label for="surface">Surface area(m^2): </label>
        <input type="number" id="surface" formControlName="surface" placeholder="surface">

    </div>
    <div class="input">
        <label for="rooms">Rooms: </label>
        <input type="number" id="rooms" formControlName="rooms" placeholder="rooms">
    </div>
    <div class="input">
        Upload images:
        <app-image-reader (newImageEvent)="pushListingImage($event)"></app-image-reader>
    </div>
    <div *ngIf="images.length>0" class="input">
        Select thumbnail:
        <div *ngFor="let image of images">
            <input type="radio" id="{{image.name}}" formControlName="thumbnail" name="thumbnail"  value="{{image.image}}">
            <label for="{{image.name}}">
                {{image.name}}
            </label>
            <button class="btn delete-btn" (click)="deleteListingImage(image.image)">
                <fa-icon [icon]="faTrash"></fa-icon>
            </button>
        </div>
    </div>
    <div class="input">
        <button class="btn submit-btn" type="submit" [disabled]="!listingForm.valid">Submit</button>    
    </div>    
</form>
</div>