
<div class="my-profile-grid">
    <h2>{{profile?.user}}</h2>
</div>

<div class="container listings-container">
    <div class="container listing-container" *ngFor="let listing of profile?.listings">
    <!-- {{listing.id}} -->
    <div class="left-rigth">
        <h2 class="listing-title">
            {{listing.title}}
        </h2>
        <p class="listing-price">
            {{listing.price}} Eur
        </p>
    </div>
    <!-- {{listing.owner}} -->
    <div class="detail">
        <!-- <div class="up">
        </div> -->
        <a routerLink="//listings/{{listing.id}}">
            <img class="listing-thumbnail" src="{{listing.thumbnail}}" alt="{{listing.title}}'s thumbnail">
            <div class="grey"></div>
            <div class="down">
                <p class="listing-surface">
                    Surface: {{listing.surface}} m^2
                </p>
                <p class="listing-rooms">
                    Number of rooms: {{listing.rooms}}
                </p>
            </div>
            <!-- <div class="owner">
                By {{listing.owner}}
            </div> -->
        </a>
    </div>
    <!-- <a routerLink="{{listing.id}}/edit">edit</a> -->
    </div>
</div>