
<div class="my-profile-grid" *ngIf="user">
    <h2>{{user.username}}</h2>
    <h2>{{user.email}}</h2>
</div>
<div class="container listings-container">
    <div *ngFor="let listing of user?.profile?.listings" >
    <div class="container listing-container">
    <!-- {{listing.id}} -->
        <div class="left-rigth">
            <h2 class="listing-title">
            {{listing.title}}
            </h2>
            <p class="listing-price">
            {{listing.price}} Eur
            </p>
        </div>
        <div class="detail">
            <a routerLink="//listings/{{listing.id}}">
            <img class="listing-thumbnail" src="{{listing.thumbnail}}" alt="{{listing.title}}'s thumbnail">
            <div class="down">
                <p class="listing-surface">
                    Surface: {{listing.surface}} m^2
                </p>
                <p class="listing-rooms">
                    Number of rooms: {{listing.rooms}}
                </p>
            </div>
            </a>
        </div>
   
    </div>
    <div class="blah">
        <button class="btn delete-btn" (click)="deleteListing(listing)">                
            <fa-icon [icon]="faTrash"></fa-icon>
        </button>   
    </div>
         
</div>
</div>
