<div class="wrapper-grid">
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
        <p *ngIf="failedToLogIn">Email or password is incorrect</p>
        <div class="input">
            <label for="email">Email: </label>
            <input type="email" id="email" formControlName="email" placeholder="email">
        </div>
        <div class="input">
            <label for="password">Password: </label>
            <input type="password" id="password" formControlName="password" placeholder="password">
        </div>
        <div class="input">
            <button type="submit" [disabled]="!loginForm.valid">Login</button>
        </div>
        <!-- <button (click)="logout()">logout</button> -->
    </form>
</div>