<input type="file" class="file-input"
(change)="onFileChange($event)" #fileUpload multiple>

<div class="file-upload" *ngFor="let file of theFiles">
    
    {{ file.name }}
    
</div>

<p>
Files can't be larger than 5MB
</p>

<button class="upload-btn"
(click)="fileUpload.click()" type="button">
<fa-icon [icon]="faPaperclip" size="2x" color="green"></fa-icon>
</button>
