@use 'app/style/abstracts' as *;


*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p{
    line-height: 1;
}

body{
    font-family: $font-family-primary;
    font-size: $font-size-400;
    background-color: $color-primary-200;
    width: 100%;
}


// header styling

header{
    width:100%;
    padding-block-start: 1.25em;
    padding-block-end: 1.125em;
    background-color: #000;
    color: $color-primary-100;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 999;
    & > nav{
        background-color: #000;
        color: $color-primary-100;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 100%;
        width: 100%;
        transform-origin: top;
        transform: scale(1,0);
        transition: transform 200ms ease-in-out;
        text-transform: uppercase;
        
        & > ul{
            list-style: none;
            margin-block:0 0.5em;
            margin-left: 1em;
            & a, button{
                position: relative;
                border: 0;
                opacity: 0;
                background-color: transparent;
                text-transform: uppercase;
                font-family: $font-family-primary;
                font-size: $font-size-400;
                color: $color-primary-100;
                text-decoration: none;
                z-index: 0;
                cursor: pointer;
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    transform: scale(0, 1);
                    transform-origin: left;
                    transition: transform 75ms ease-out;
                    background-color: $color-primary-800;
                    z-index: -1;
                }

                &:hover,
                :focus{
                    &::before{
                        transform: scale(1);
                    }
                }
            }
        }
    }
    & h1{
        position: relative;
    }
    & .nav-toggle{
        display: none;
        &:checked{
            & ~ nav {
                transform: scale(1,1);
                & a, button{
                    opacity: 1;
                    transition: opacity 250ms ease-in-out 250ms;
                }
            }
            & ~ .nav-toggle-label {
                transform: rotate(90deg);
            }
        }
    }
    & .nav-toggle-label{
        display:flex;
        align-items: center;
        height: 100%;
        position: absolute;
        top:0;
        left: 0;
        margin-left: 1em;
        transform: rotate();
        transition: transform 250ms ease-in-out;
    }
}

@media (min-width: 800px) {
    .nav-toggle-label fa-icon{
        display:none;
    }
    header{ 
        display: grid;
        grid-template-columns: 1fr auto minmax(550px, 3fr) 1fr;
        & h1{
            grid-column: 2/3;
        }
        & nav{
            margin: 0;
            padding: 0;
            height: 100%;
            top: 0;
            grid-column: 3/4;
            transform: none;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            & ul{
                display:flex;
                margin-inline: 0;
                margin-block: auto;
                & li{
                    margin-left: 1em;
                }
                & a, button{
                    opacity: 1;
                }
            }
        }
    }
}

/////////////////////
//content container//
/////////////////////

.container.main-container{
    position: absolute;
    top: 5em;
    width: 100%;
    padding-block-end: 5em;
}

//login component

//listings component
.container.listings-container{
    position: relative;
    margin-inline: auto;
    display: grid;    
    & .blah{
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    & .delete-btn{
        font-size: $font-size-500;
    }
}

.container.listing-container{
    position: relative;
    color: $color-on-primary-dark;
    margin-inline: auto;
    margin-block-start: 1em;
    width: 350px;
    border: .2em solid #000;
    border-radius: 2px;
    box-shadow: .3em .3em $color-primary-500;
    
    & .left-rigth{
        padding-block: .5em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        & .listing-title{
            display: flex;
            justify-content: flex-start;
            margin-inline-start: .5em;
        }
        & .listing-price{
            margin-block: auto;
            display: flex;
            justify-content: flex-end;
            margin-inline-end: .5em;
        }
    }
    & .detail{
        position: relative;
        width: 100%;
        & .listing-thumbnail{
            position: relative;
            width: 100%;
            aspect-ratio: 16/9;
            display: block;
            object-fit: cover;
            z-index: 1;
        }
        & a{
            color: #000;
            text-decoration: none;
        }
        & .down{
            margin-block-start: .5em;
            margin-inline-start: 1em;
        }
        & .owner{
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }
    }
    
}

@media(min-width: 800px){
    .container.listings-container{
        grid-template-columns: 1fr 1fr;
        & .detail{
                    
            & a{
                color: #fff;
            }
            
            & .down{
                margin: 0;
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                opacity: 0;
                transition: opacity 250ms linear;
                z-index: 2;
                & p{
                    margin-block: .5em
                }
                &::before{
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top:0;
                    left:0;
                    background-color: $color-primary-700;
                    transform:scale(0);
                    transition: transform 150ms ease-in-out;
                    opacity: .9;
                    z-index: -1;
                }
            }
            & .owner{
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: 2;
                opacity: 0;
                transition: opacity 250ms linear;
                margin: 0.5em 1em;
            }
            &:hover{
                & .down, .owner{
                    opacity: 1;
                    &::before{
                        transform:scale(1);
    
                    }
                }
            }        
        }
    }
}

@media(min-width: 1200px){
    .container.listings-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(min-width: 1600px){
    .container.listings-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


//listing create/ login/ register component

.wrapper-grid{
    display: grid;
    place-content: center;
    width: 100%;
}
form{
    width: 20em;
    border: .2em solid black;
    background-color: $color-primary-300;
    padding-inline: .75em;
    border-radius: 2px;
    box-shadow: .3em .3em $color-primary-500;
    & > .input{
        margin-block: .5em;
        display: grid;
        & input{
            width: 100%;
            
        }
        & input[type=radio]{
            display: none;
            & ~ label{
                cursor: pointer;
                position: relative;
                z-index: 1;
                transform: color 100ms linear;
                &::before{
                    content:'';
                    position: absolute;
                    top: 0;
                    left:0;
                    inline-size: 100%;
                    block-size: 100%;
                    // border: 2px solid peru;
                    background-color: #000;
                    transform: scale(0,1);
                    transform-origin: left;
                    z-index: -1;
                    transition: transform 100ms ease-out;
                }
                &:hover{
                    &::before{
                        transform: scale(1);
                    }
                    color:#fff;
                }
            }
            &:checked{
                & ~ label{
                    &::before{
                        transform: scale(1);
                    }
                    color:#fff;
                }
            }
        }
        & > textarea {
            resize: none;
        }
        & > button[type=submit]{
            cursor: pointer;
            background-color: #000;
            color: #fff;
            border-color: #fff;
            opacity: 1;
            transition: opacity 250ms linear;
        }
        & > button[type=submit]:disabled{
            cursor: initial;
            background-color: #fff;
            color: #000;
            border-color: #000;
            opacity: .4;
        }
    }

}

.upload-btn,
.delete-btn{
    position: relative;
    border:0;
    background-color: transparent;
    margin-block: .5em;
    cursor: pointer;
    // color: #fff;
    z-index: 0;
    transition: color 100ms linear;
    &::before{
        content: '';
        position: absolute;
        top:50%;
        left:50%;
        height: 2.5em;
        aspect-ratio: 1;
        transform: translateX(-50%) translateY(-50%) scale(0);
        border-radius: 50%;
        background-color: #000;
        z-index: -1;
        transition: transform 100ms ease-in-out;
    }
    &:hover, :focus, :active{
        color: #fff;
        &::before{
            transform: translateX(-50%) translateY(-50%) scale(1);
        }

    }
}

.delete-btn::before{
    height: 1.3em;
}

////////////////////////////////////
//////Listing detail component//////
////////////////////////////////////


.image-slider{
    display: grid;
    overflow: auto;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    scroll-snap-align: start;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    gap: 2em;
    margin-inline: .75em;
    & > .slider-image{
        // margin-inline: 2em;
        border: .3em solid #000;
        border-radius: 3px;
        box-shadow: .3em .3em $color-primary-500;
        scroll-snap-align: start;
        margin-block-end: .5em;
        height: 250px;
        // width: max-content;
        padding: 0;
        // background-color: #000;
        overscroll-behavior-x: contain;
        scrollbar-color: red;
        & > img{
            height: 100%;
        // background-color: #000;
                
        }

    }
    // &::-webkit-scrollbar-corner{
        //     background-color: green;
        // }
        // &::-webkit-scrollbar-track-piece{
            //     background-color: yellow;
            
            // }   
        }
        ::-webkit-scrollbar{
            height: 1em;
        }   
        ::-webkit-scrollbar-thumb{
            background-color: #000;
            border-radius: 100px;
            width: .5em;
            // transform: scale(.9, .5);
            // transition: color 1000ms ease-in;
            // border: .2em solid transparent;
            &:hover{
                background-color: #fff;
            }
        }
        ::-webkit-scrollbar-track{
            background-color: $color-primary-500;
            border-radius: 100vw;
            // border: .2em solid black;
            margin-inline: 10vw;
            
        }
        
        .title-container{
            display:grid;
            grid-template-columns: 1fr minmax(200px, 1fr) minmax(150px, 1fr) 1fr;
    // width: 80vw;
    // margin-inline: auto;
    margin-block: 2em;
    align-items: center;
    & > div{
        grid-column: 2;
        justify-self: flex-start;
        & > h2{
            font-size: $font-size-700;
            font-weight: 500;
        }
    }
    & > p{
        grid-column: 3;
        // align-self: center;
        justify-self: flex-end;
        font-size: $font-size-600;

    }
}

.detail-container{
    width: fit-content;
    margin-inline:15vw;
    margin-block-start: 1.5em;
    & h3{
        font-size: $font-size-500;
        text-decoration: underline;
        margin-block: .5em;
    }
    & h4{
        // font-size: $font-size-500;
    }
    & p{
        font-size: $font-size-400;
        display: inline;
        margin-inline-start: .5em;
    }
}

//////////////////////////////////
/////////////Profiles/////////////
//////////////////////////////////


.profiles-container{
    margin-inline: .5em;
    display: grid;
    // grid-template-columns: repeat(2, 1fr);
    & ul{
        list-style: none;
        & > li{
            font-size: $font-size-400;
        }
    }
    & .profile-image{
        width: 8em;
        border-radius: 50%;
    }
}

@media(min-width: 300px){
    .profiles-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(min-width: 500px){
    .profiles-container{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media(min-width: 700px){
    .profiles-container{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media(min-width: 900px){
    .profiles-container{
        grid-template-columns: repeat(5, 1fr);
    }
}
@media(min-width: 1200px){
    .profiles-container{
        grid-template-columns: repeat(6, 1fr);
    }
}

.my-profile-grid{
    width: max-content;
    margin-inline-start: 3em;
    & ul{
        margin-block-start: 1.25em;
        list-style: none;
    }
}


.my-b{
    position: relative;
    border: 0;
    background-color: transparent;
    font-family: $font-family-primary;
    font-size: $font-size-400;
    color: #000;
    text-decoration: none;
    z-index: 0;
    cursor: pointer;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        transform: scale(0, 1);
        transform-origin: left;
        transition: transform 75ms ease-out;
        background-color: $color-primary-500;
        z-index: -1;
    }

    &:hover,
    :focus{
        &::before{
            transform: scale(1);
        }
    }
}

.profiles-container{
    & .my-b{
        font-size: $font-size-500;
    }
}

.alaja{
    display: block;
}