<!-- <div *ngIf="listing">
    <div class="wrapper-grid">
    <form (ngSubmit)="updateListing();">
        <div class="input">
            <label for="title">Title: </label>
            <input type="text" id="title" [(ngModel)]="listing.title" placeholder="title">
        </div>
        <div class="input">
            <label for="price">Price: </label>
            <input type="number" id="price" [(ngModel)]="listing.price" placeholder="price">
        </div>
        <div class="input">
            <label for="description">Description: </label>
            <input type="text" id="description" [(ngModel)]="listing.description" placeholder="description">
        </div>
        <div class="input">
            <label for="surface">Surface: </label>
            <input type="number" id="surface" [(ngModel)]="listing.surface" placeholder="surface">
        </div>
        <div class="input">
            <label for="rooms">Rooms: </label>
            <input type="number" id="rooms" [(ngModel)]="listing.rooms" placeholder="rooms">
        </div>
        <div class="input">
            <app-image-reader (newImageEvent)="pushListingImage($event)"></app-image-reader>
        </div>
    </form>
        
        <h2>Images to Upload:</h2>
        <ul>
            <li *ngFor="let image of listing.images">
                <img src="{{image.image}}" alt="failed to load">
            </li>
        </ul> 
    
        <h2>Uploaded</h2>
        <span *ngFor="let image of listing?.images_ready"> 
            <img src="{{image.image}}" alt="{{image.image}}">
            <button (click)="deleteListingImage(image)">Delete Image</button>
        </span>
         <app-image-upload [listingID]="listing.id"></app-image-upload>
        <button (click)="deleteListing();">Delete</button>
        <button (click)="updateListing();">Update</button>
    </div>
</div> -->
<div class="wrapper-grid">
    <form class="listing-form--edit" [formGroup]="listingForm" (ngSubmit)="submit()">
        
        <div class="input">
            <label for="title">Title: </label>
            <input type="text" id="title" formControlName="title" placeholder="title">
            
        </div>
        <div class="input">
            <label for="price">Price (Eur): </label>
            <input type="number" id="price" formControlName="price" placeholder="price">
            
        </div>
        <div class="input">
            <label for="description">Description: </label>
            <textarea type="text" id="description" formControlName="description" placeholder="description">
            </textarea>
        </div>
        <div class="input">
            <label for="surface">Surface area(m^2): </label>
            <input type="number" id="surface" formControlName="surface" placeholder="surface">
    
        </div>
        <div class="input">
            
            <label for="rooms">Rooms: </label>
            <input type="number" id="rooms" formControlName="rooms" placeholder="rooms">
    
        </div>
        <div class="input">
            Upload images:
            <app-image-reader (newImageEvent)="pushListingImage($event)"></app-image-reader>
            
        </div>
        <div class="input">
            Select thumbnail:
            <div *ngFor="let image of images">
                <input type="radio" id="{{image.name}}" formControlName="thumbnail" name="thumbnail" value="{{image.image}}">
                <label for="{{image.name}}">
                    {{image.name}}
                </label>
                <button class="btn delete-btn" (click)="deleteImage(image.image)">
                    <fa-icon [icon]="faTrash"></fa-icon>
                </button>
            </div>
            <div *ngFor="let uploadedImage of listing?.images_ready">
                <input type="radio" id="{{uploadedImage.id}}" formControlName="thumbnail" name="thumbnail" value="{{uploadedImage.image}}">
                <label for="{{uploadedImage.id}}">
                    <div class="slim-image">
                        <img src="{{uploadedImage.image}}" alt="img" >

                    </div>
                </label>
                <button class="btn delete-btn" (click)="deleteListingImage(uploadedImage)">
                    <fa-icon [icon]="faTrash"></fa-icon>
                </button>
            </div>
    
        </div>
        <div class="input">
            <button class="btn submit-btn" type="submit" [disabled]="!listingForm.valid">Submit</button>    
    
        </div>    
    </form>
    </div>