<div class="wrapper-grid">
    <form class="register-form" [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="input" *ngIf="wrong">
            Username or email already taken
        </div>
        <div class="input">
            <label for="username">Username:</label>
            <input type="text" id="username" formControlName="username" placeholder="username">
        </div>
        <div class="input">
            <label for="email">Email: </label>
            <input type="email" id="email" formControlName="email" placeholder="email">
        </div>
        <div class="input">
            <label for="password">Password: </label>
            <input type="password" id="password" formControlName="password" placeholder="password">
        </div>
        <div class="input">
            <button type="submit" [disabled]="!registerForm.valid">Register</button>
        </div>
        <!-- <button (click)="logout()">logout</button> -->
    </form>
</div>